<div>
  <h1>Google Map</h1>
  <map [options]="mapOptions | async"
       (click)="addMarker($event)"
       height="1000px"
       width="1000px">
    <marker *ngFor="let markerOptions of markersOptions"
            [options]="markerOptions"></marker>
    <info-window [(open)]="infoWindowOpen" [options]="infoWindowOptions">
      <div class="info-window">Info Window content</div>
    </info-window>
  </map>

  <button (click)="removeMarker()">Remove marker</button>
  <button (click)="openInfoWindow()">Open info window</button>
</div>

